.paginationContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--color-grey);
}

.paginationPagesContainer {
  display: flex;
  list-style: none;
  align-items: center;
}

.paginationPageLink {
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 5px;
  padding: 2px 6px;
}

.paginationPageLink:hover,
.paginationPageLink:active,
.paginationActiveLink {
  background: var(--color-primary);
  color: white;
}

.paginationArrow {
  padding: 0 16px;
  cursor: pointer;
}

.paginationArrow svg {
  fill: var(--color-grey);
}

.paginationArrow:hover svg,
.paginationArrow:active svg {
  fill: var(--color-primary);
}

@media all and (max-width: 950px) {
  .paginationItemsCounter {
    display: none;
  }
}
