.placeholder {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.placeholderText {
  height: 62px;
  width: 210px;
  margin-top: 47px;
  font-size: 22px;
  line-height: 31px;
  text-align: center;
  color: #808080;
}
