.userProfile {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.avatar {
  width: 280px;
  height: 280px;
  border-radius: 50%;
}

.userFullName {
  margin-top: 29px;
  font-weight: 600;
  font-size: 26px;
  line-height: 130%;
}

.userName {
  margin-top: 12px;
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  text-decoration: none;
  color: var(--color-primary);
}

.follow {
  margin-top: 25px;
  width: 300px;
  height: 25px;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  line-height: 24px;
}

.figure {
  display: flex;
  align-items: center;
}

.figure:first-child {
  margin-right: 20px;
}

.figure > img {
  margin-right: 9px;
}

@media all and (max-width: 950px) {
  .userProfile {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    align-items: center;
    margin-bottom: 56px;
  }
}
