@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

:root {
  --color-primary: #0064eb;
}

html,
body {
  background: #f9f9f9;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 17px;
}

.layout {
  display: flex;
}
