@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

:root {
  --color-primary: #0064eb;
}

html,
body {
  background: #f9f9f9;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 17px;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  display: flex;
  padding: 0 56px;
  padding-top: 28px;
  width: 100%;
  flex-grow: 1;
  box-sizing: border-box;
}

@media all and (max-width: 950px) {
  .content {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }
}
