main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 877px;
}

.repoList {
  padding: 0;
  margin: 0;
}

.repo {
  display: flex;
  flex-direction: column;
  background: white;
  margin-bottom: 24px;
  padding: 24px 32px;
}

.repo:last-child {
  margin-bottom: 0;
}

.repo > a {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
  color: var(--color-primary);
}

.repo > span {
  font-size: 16px;
  line-height: 19px;
}

main > h2 {
  margin-top: 0;
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
}
